body{
font-family:Arial;
background:#f4f4f4;
padding:20px;
}

.container{
max-width:700px;
margin:auto;
background:white;
padding:20px;
border-radius:10px;
}

textarea{
width:100%;
height:120px;
padding:10px;
}

button{
margin-top:10px;
padding:10px 20px;
cursor:pointer;
}

#answer{
margin-top:20px;
padding:15px;
background:#eef;
border-radius:10px;
}
input{
width:100%;
padding:10px;
font-size:16px;
margin-bottom:10px;
}
.logo{
width:120px;
display:block;
margin:10px auto;
}
.hero{
text-align:center;
background:white;
padding:40px;
border-radius:20px;
margin-bottom:20px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.hero h1{
font-size:45px;
color:#0d6efd;
margin-bottom:15px;
}

.hero h2{
font-size:55px;
margin-bottom:10px;
}

.hero p{
font-size:22px;
margin-bottom:20px;
color:#555;
}

.hero button{
background:#0d6efd;
color:white;
border:none;
padding:15px 30px;
font-size:18px;
border-radius:10px;
cursor:pointer;
}

.logo{
width:120px;
display:block;
margin:10px auto;
}
input{
width:100%;
padding:12px;
font-size:16px;
margin-bottom:10px;
border-radius:8px;
border:1px solid #ccc;
}

button{
padding:12px 20px;
border:none;
border-radius:8px;
background:#0d6efd;
color:white;
cursor:pointer;
margin:5px;
}
